
/* tts.css style sheet, need to minimize once figured out **/

.red {
color: #ff0000;
}

.img-about {
	float: left;
	width: 72px;
	margin: -6px 10px 0 0;
}

#social-bar a {
color: #999999;
}

#social-bar a:hover {
color: #ff0000;
}

.navbar-brand > img {
	float: left;
	margin: -8px 2px 0 0;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}

.blog-post {
	padding: 12px 0 28px;
}

body {
	line-height: 1.6;
}

body.home {
	padding-top:0px !important;
}

body.home div#banner {
	 margin: 0px;
}
