<style>
	#banner{
	    background-image:url("{{ SITEURL}}/{{ BANNER }}");
	}
</style>

<div id="banner">
	<div id="icons" class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
				       <ul class="list-inline pull-right" id="social-bar">
                {% for s in SOCIAL %}
                    {% if s[2] %}
                        {% set name_sanitized = s[2]|lower|replace('+','-plus')|replace(' ','-') %}
                    {% else %}
                        {% set name_sanitized = s[0]|lower|replace('+','-plus')|replace(' ','-') %}
                    {% endif %}
                    {% if name_sanitized in ['flickr', 'spotify', 'stack-overflow', 'weibo'] %}
                        {% set iconattributes = '"fa fa-' ~ name_sanitized ~ ' fa-2x"' %}
                    {% else %}
                        {% set iconattributes = '"fa fa-' ~ name_sanitized ~ '-square fa-2x"' %}
                    {% endif %}
                <li><a href="{{ s[1] }}" title="{{ s[0] }}"><i class={{ iconattributes }} ></i> {# {{ s[0] }} #}</a></li>
                {% endfor %}
              </ul>
	</div>
	<div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
		<div class="copy">
		<h1>{{ SITENAME }}</h1>
			{% if BANNER_SUBTITLE %}
				<p class="intro">{{ BANNER_SUBTITLE }}</p>
			{% endif %}
		</div>
	</div>
</div>