
/* tts.css style sheet, need to minimize once figured out **/

.red {
color: #ff0000;
}

.img-about {
	float: left;
	width: 72px;
	margin: -6px 10px 0 0;
}

#social-bar a {
color: #999999;
}

#social-bar a:hover {
color: #ff0000;
}

.navbar-brand > img {
	float: left;
	margin: -8px 2px 0 0;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}

.navbar-right li#social-bar a {
    padding-left: 8px;
    padding-right: 8px;
}

#navbar-affix.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    margin: auto;
}

.navbar-wrapper {
    min-height:50px;
}

.blog-post {
	padding: 12px 0 28px;
}

body {
	line-height: 1.6;
}

body.home {
	padding-top:0px !important;
}

body.home div#banner {
	margin: 0px;
}

/* http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/#method-C */
a.anchor {
    padding-top: 70px;
    margin-top: -70px;
}

dl#media-list dt {
    font-weight: normal;
}


div.project-blurb {
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-blurb h2 {
   left: 20px; 
   bottom: 10px;
   position: absolute;
   width: 100%;
}

div#grant-thanks {
    padding-top: 40px;
}

div.project-logo {
   background-repeat:no-repeat;
   height:250px;
   width:250px;
   background-size:cover;
   background-color:black;
}

div.project-logo {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

div.project-logo:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

span.project-caption {
   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px;
}
